.aboutDiv {
  text-align: center;
  padding-bottom: 10px;
}
.name {
  padding-top: 4vw;
}
.headshotImg {
  height: 400px;
  border-radius: 20%;
}
p {
  margin-left: 30%;
  margin-right: 30%;
  font-size: larger;
}
