.contactDiv {
  color: white;
  text-align: center;
  border-top-style: solid;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  border-color: black;
  background: radial-gradient(
    circle at bottom left,
    rgb(190, 45, 178, 0.8),
    rgb(39, 22, 136, 0.6) 10%,
    rgb(15, 144, 230),
    rgb(15, 198, 230, 0.3)
  );
  backdrop-filter: blur(3px);
}
.logo {
  height: 50px;
  width: 50px;
}
