.modalBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 36, 36, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  overflow-y: auto;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 90vh;
  max-height: 90vw;
  width: 100%;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}
.modalImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
