.navBarDiv {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(197, 197, 197);
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  border-color: black;
  border-bottom-style: solid;
  z-index: 1;
  background-image: url("../images/header.png");
  background-size: contain;
}

.navBarNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navLinkDiv {
  padding: 1em;
  border-radius: 80%;
  backdrop-filter: blur(10px);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.navLinkDiv:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
}
.navLink {
  text-decoration: none;
  font-weight: bold;
}
