.projectCardDiv {
  min-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3 {
  max-height: 10%;
}

p {
  max-height: 10%;
}

.projectSSDiv {
  display: flex;
  flex-direction: row;
  max-height: 80%;
}

.projectPreviewSS {
  width: 70%;
  margin: 1%;
  object-fit: contain;
  max-height: 100%;
}
