.projectPage {
  padding-top: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.projectDiv {
  padding: 1vw;
  margin-bottom: 3vw;
  border-radius: 3vw;
  border-style: inset;
  border-color: beige;
  max-width: 90%;
  background-blend-mode: overlay;
}
.projectDesc {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.projectChallenges {
  margin-bottom: 1vh;
}
.projectSSDiv {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.projectSS {
  max-width: 25vw;
  object-fit: contain;
}
.githubDiv {
  display: flex;
  flex-direction: column;
}
.style1 {
  background: linear-gradient(
      to bottom right,
      rgba(255, 0, 0, 0.6) 0% 14.28%,
      rgba(255, 165, 0, 0.6) 14.28% 28.5%,
      rgba(255, 255, 0, 0.6) 28.5% 42.84%,
      rgba(0, 128, 0, 0.6) 42.84% 57.12%,
      rgba(0, 0, 255, 0.6) 57.12% 71.4%,
      rgba(75, 0, 130, 0.6) 71.4% 85.68%,
      rgba(238, 130, 238, 0.6) 85.68% 100%
    ),
    rgba(255, 255, 255, 0.75);
  clip-path: polygon(0 8%, 7% 0, 100% 0, 100% 92%, 93% 100%, 0% 100%);
}

.style2 {
  background: linear-gradient(
      to bottom left,
      rgba(238, 130, 238, 0.6) 0% 14.28%,
      rgba(75, 0, 130, 0.6) 14.28% 28.5%,
      rgba(0, 0, 255, 0.6) 28.5% 42.84%,
      rgba(0, 128, 0, 0.6) 42.84% 57.12%,
      rgba(255, 255, 0, 0.6) 57.12% 71.4%,
      rgba(255, 165, 0, 0.6) 71.4% 85.68%,
      rgba(255, 0, 0, 0.6) 85.68% 100%
    ),
    rgba(255, 255, 255, 0.75);
  clip-path: polygon(100% 8%, 93% 0, 0% 0, 0% 92%, 7% 100%, 100% 100%);
}
.introDiv {
  color: rgb(226, 226, 226);
  margin-left: 11.5%;
  margin-right: 11.5%;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.projectIntroCard {
  background: #060911;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.projectIntroCard::after,
.projectIntroCard::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.projectIntroCard::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
