.projectCardDiv {
  min-width: 96%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

h3 {
  max-height: 10%;
}

p {
  max-height: 10%;
}

.projectCardSSDiv {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  justify-content: space-between;
  max-width: 100%;
}

.projectPreviewSS {
  max-width: 30%;
  margin: 1%;
  object-fit: contain;
}
.projectLink {
  max-height: 80%;
}
